/* [href*="/"]{ */
/*     color: #3EA5FD; */
/* } */
[href*="."]{
    color: #3EA5FD;
}
[lang|="es"]{ /* Tiene que coincidir exáctamente al principio, no importa qué le preceda */
    background-color: #202020;
}
pre{
  background-color: #282828;
}
body{
  color: white;
}
